#hero{
	width:800px;
	margin:10px auto;
}
#hero .add{
	text-align: center;
}
#hero ul{
	list-style: none;
	text-align: center;
}
#hero ul li{
	margin:5px;
}
#hero ul li .name{
	display:inline-block;
	width:150px;
	text-align: center;
}
