<div class="films">
	<ul class="nav">
		<li>正在热映</li>
		<li>即将上映</li>
	</ul>
	<ul class="filmslist">
		<li *ngFor="let item of filmsList">
			<img [src]=item.poster.origin alt="" />
			<div class="dital-text">
				<div class="header">
					<span class="title">{{item.name}}</span>
					<span class="grade">{{item.grade}}</span>
					<span class="more">
						<img src="../../../assets/img/right.png" alt="" />
					</span>
				</div>
				<div>
					
				</div>
				<div class="renqi">
					<div>
						<span></span><span>家影院上映</span>
					</div>
					<div>
						<span></span><span>人购票</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
