<div class="panel panel-primary">
	<div class="panel-heading">
		登录
	</div>
	<div class="panel-body">
        <form name="loginForm" id="loginForm" #regForm="ngForm">
        		<label>用户名</label>
        		<input type="text" class="form-control" id="user" name="user" [(ngModel)]="usernames" #use="ngModel" required="required" minlength="6"/>
        		<p>{{use.errors|json}}</p>
        		<div *ngIf="use.pristine" class="alert alert-info">
        			请输入用户名
        		</div>
        		<div *ngIf="use.dirty&&use.invalid" class="alert alert-danger">
        			<div *ngIf="use.errors.required">用户名不能为空</div>
        			<p *ngIf="use.errors.minlength">用户名长度至少为6位</p>
        			<!--<p>用户名必须以字母开头且长度为8到12位</p>-->
        		</div>
        		<label>密码</label>
        		<input type="text" class="form-control" id="password" name="password" [(ngModel)]="pass" minlength="8"  #pas="ngModel" required="required"/>
        		<div *ngIf="pas.pristine" class="alert alert-info">
        			请输入密码
        		</div>
        		<div *ngIf="pas.dirty&&pas.invalid" class="alert alert-danger">
        			<div *ngIf="pas.errors.required">密码不能为空</div>
        			<p *ngIf="pas.errors.minlength">密码太简单</p>
        			<!--<p>用户名必须以字母开头且长度为8到12位</p>-->
        		</div>
        		<div class="submit">
        			{{regForm.form.valid}}
        			<button type="submit" [disabled]="!regForm.form.valid"  (click)="mySubmit();regForm.reset()">提交</button>
        		</div>
        </form>
  </div>
</div>
