.film-list .lists{
	list-style: none;
	padding: 0;
}
.film-list .lists li{
	width: 100%;
	height: 140px;
	padding: 20px 0;
	border-bottom:1px dashed gainsboro;
}
.film-list .lists li img{
	width: 20%;
	height: 100%;
}
.film-list .lists li .filmdel{
	width: 75%;
	height: 100%;
	margin-left: 5%;
	float: right;
	flex-direction: column;
	display: flex;
}
.film-list .lists li .filmdel div{
	flex: 1;
	height: 33%;
	display: flex;
	align-items: center;
}
.film-list .lists li .filmdel div.intro{
	font-size: 12px;
	color: #8e8e8e;
}
.film-list .lists li .filmdel div .name{	
	flex: 7;
	font-size: 16px;
}
.film-list .lists li .filmdel div .grade{
	flex: 2;
	color: #fc7103;
	font-size: 16px;
	text-align: center;
}
.film-list .lists li .filmdel div .grade img{
	display: inline-block;
	margin: 0 auto;
}

.film-list .lists li .filmdel div.count{
	font-size: 13px;
	color: #ffb375;
	display: flex;
}

.film-list .lists li .filmdel div.count span{
	flex: 1;
}/*
.film-list .lists li .filmdel div.count span i{
	color: #8aa2bf;
}*/