<div class="film-list">
	<ul class="lists">
		<li *ngFor="let item of playsoon">
			<img [src]="item.poster.origin" alt="" />
			<div class="filmdel">
				<div>
					<div class="name">{{item.name}}</div>
					<div class="grade"> <img src="../../../assets/img/right.png" alt="" /></div>
				</div>
				<div class="intro">{{item.intro}}</div>
				<div class="count">
					<span>{{item.premiereAt|datetime}}上映</span>
					<span>{{item.premiereAt|dateweek}}</span>
				</div>
			</div>
		</li>
	</ul>
</div>