#shop{
	width:800px;
	margin:0 auto;
}
#shop .shop{
	list-style: none;
	border:1px solid darkgrey;
}
#shop ul.shop li{
	display: flex;
	margin:5px;
}
#shop ul.shop li span{
	flex:1;
}
.shopCar{
	border:1px solid darkslateblue;
	min-height: 200px;
}
.shopCar ul{
	list-style: none;	
}
.shopCar ul li{
	display: flex;
	margin:5px;
}
.shopCar ul li span{
	flex: 1;
	text-align: center;
}
